<launch>
    <arg name="model" default="$(find urdf1)/urdf/model1.urdf"/>
    <arg name="rvizconfig" default="$(find urdf1)/rviz/urdf.rviz" />

    <include file="$(find urdf1)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)" />
    </include>
<!--
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
-->
    <rosparam command="load"
        file="$(find urdf1)/config/state.yaml" 
        ns="controller" />
    <rosparam command="load"
        file="$(find urdf1)/config/joints_controller/stationary_base_spin_base.yaml" 
        ns="stationary_base_spin_base_joint_controller" />
    <rosparam command="load"
        file="$(find urdf1)/config/joints_controller/spin_base_arm1.yaml" 
        ns="spin_base_arm1_joint_controller" />
    <rosparam command="load"
        file="$(find urdf1)/config/joints_controller/arm1_arm2.yaml" 
        ns="arm1_arm2_joint_controller" />   
    <rosparam command="load"
        file="$(find urdf1)/config/joints_controller/arm2_arm3.yaml" 
        ns="arm2_arm3_joint_controller" />  
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="controller
            stationary_base_spin_base_joint_controller
            spin_base_arm1_joint_controller
            arm1_arm2_joint_controller
            arm2_arm3_joint_controller
            --shutdown-timeout 3"/>

</launch>